:root {
  --background-general: #ffffff;
  --background-slogan: #f5d3a6;
  --background-slogan-gradient: rgba(47, 48, 58, 0.4);
  --background-icon-footer: rgba(255, 255, 255, 0.1);
  --background-label: rgba(236, 182, 65, 0.6);
  --color-logo: #ff0000;
  --color-general: #ff0000;
  --color-last: #ff4500;
  --color-nav-link: #ffa500;
  --color-footer-link: #ff4500;
  --color-icon-footer: #ffffff;
  --color-label: #ff0000;
  --color-border-product: #f3ddd1f6;
  --color-border-header: #cdffcc;
  --color-button: #cdffcc;
  --color-button-link: #a3f5a2;
  --color-overlay-product: rgba(247, 217, 134, 0.8);
  --color-overlay-body: rgba(0, 0, 0, 0.7);
  --color-product-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --transition-duration: 250ms;
  --transition-duration-product: 500ms;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-general);
  color: var(--color-general);
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  width: 270px;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header {
  background-color: var(--background-general);
  border-bottom: 1px solid var(--color-border-header);
}

header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.link {
  margin: 0;
  padding: 0;
}

/* !---------------logotip-------------------------- */

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color-logo);
}

.logo__up {
  padding: 0;
  color: var(--color-nav-link);
}

@media screen and (min-width: 768px) {
  .logo__up {
    margin-right: 93px;
  }
}

.logo__down {
  color: var(--color-footer-link);
}

@media screen and (min-width: 1200px) {
  .logo__down {
    margin-right: -93px;
  }
}

/* !---------------Navigate-------------------------- */

.logo__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {

  .nav,
  .contact {
    display: none;
  }
}

.nav__item+.nav__item {
  margin-left: 50px;
}

.nav__menu {
  margin: 48px 0 -16px 40px;
}

.envelope {
  width: 16px;
  height: 12px;
  margin: 0 10px 0 0;
  fill: currentColor;
}

.smartphone {
  width: 10px;
  height: 16px;
  margin: 0 10px 0 0;
  fill: currentColor;
}

.nav__link {
  text-align: start;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  transition: color var(--transition-timing) var(--transition-duration);
  color: var(--color-general);
}

@media screen and (min-width: 768px) {
  .nav__link {
    padding: 32px 0;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.nav__link:hover,
.nav__link:focus {
  color: var(--color-nav-link);
}

.nav__link--current {
  position: relative;
  color: var(--color-nav-link);
}

@media screen and (min-width: 768px) {
  .nav__link--current::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-nav-link);
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
  }
}

.contact-posicion {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contact__icon.mailto {
  padding: 0;
  margin-top: 32px;
  margin-left: 40px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--color-general);
  transition: color var(--transition-timing) var(--transition-duration);
}

.contact__icon.mailto:hover,
.contact__icon.mailto:focus {
  color: var(--color-nav-link);
}

@media screen and (min-width: 768px) {
  .contact__icon.mailto {
    padding: 21px 0 5px 0;
    font-size: 12px;
    line-height: 1.17;
    margin: 0;
    cursor: pointer;
  }
}

@media screen and (min-width: 1200px) {
  .contact__icon.mailto {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 768px) {

  .contact__icon.mailto:hover,
  .contact__icon.mailto:focus {
    color: var(--color-nav-link);
  }
}

.contact__icon.tel {
  padding: 0;
  margin-top: 170px;
  margin-left: 40px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--color-general);
  transition: color var(--transition-timing) var(--transition-duration);
}

.contact__icon.tel:hover,
.contact__icon.tel:focus {
  color: var(--color-nav-link);
}

@media screen and (min-width: 768px) {
  .contact__icon.tel {
    padding: 5px 0 21px 0;
    font-size: 12px;
    line-height: 1.17;
    margin: 0;
    cursor: pointer;
    color: var(--color-general);
  }
}

@media screen and (min-width: 1200px) {
  .contact__icon.tel {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
    margin-left: 40px;
  }
}

@media screen and (min-width: 768px) {

  .contact__icon.tel:hover,
  .contact__icon.tel:focus {
    color: var(--color-nav-link);
  }
}

.contact__icon {
  display: flex;
  margin-left: auto;
  align-items: center;
}

/* !---------------Navigate_mobile-------------------------- */

.menu-toggle {
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-icon__menu {
  width: 40px;
  height: 40px;
  margin-left: auto;
  transition: color var(--transition-timing) var(--transition-duration),
    border var(--transition-timing) var(--transition-duration);
}

.menu-icon__close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  margin-left: auto;
  transition: color var(--transition-timing) var(--transition-duration),
    border var(--transition-timing) var(--transition-duration);
}

.menu-icon__menu,
.menu-icon__close {
  fill: var(--color-general);
}

.menu-icon__menu:hover,
.menu-icon__menu:focus,
.menu-icon__close:hover,
.menu-icon__close:focus {
  fill: var(--color-nav-link);
}

.icon-menu {
  width: 40px;
  height: 40px;
}

.menu-toggle__posicion {
  margin-left: auto;
  padding: 10px 0;
}

@media screen and (min-width: 768px) {
  .menu-toggle__posicion {
    display: none;
  }
}

.menu-container {
  transform: translateY(100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-general);
  z-index: 10;
  transition: transform var(--transition-timing) var(--transition-duration);
}

.menu-container.is-open {
  display: block;
  transform: translateY(0);
}

.menu__network {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 30px;
  margin-right: 40px;
  padding: 64px 0 48px 0;
}

.menu__social {
  padding: 0 10px 0px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--color-general);
}

.menu__social:hover,
.menu__social:focus {
  color: var(--color-nav-link);
}

.menu__span {
  padding: 10px;
  width: 22px;
  height: 0px;
  border: 1px solid var(--color-general);
  transform: rotate(90deg);
}

/* !---------------Section & Container-------------------------- */

.section1 {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section1 {
    padding: 30px 0;
  }
}

.section2 {
  padding-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section2 {
    padding-bottom: 30px;
  }
}

.section3 {
  padding: 5px 0;
}

@media screen and (min-width: 1200px) {
  .section3 {
    padding: 5px 0;
  }
}

.section4 {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section4 {
    margin-bottom: 30px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* !---------------Slogan & Background-------------------------- */

.slogan {
  margin: 0 auto;
  max-width: 1400px;
  background-color: var(--background-slogan);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 118px 0;
  text-align: center;
}

.slogan__titel {
  margin: 0 0 30px 0;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-nav-link);
  text-shadow: 1px 1px 10px var(--color-logo);
}

@media screen and (min-width: 1200px) {
  .slogan__titel {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (max-width: 767px) {
  .slogan {
    background-image: linear-gradient(to right,
        var(--background-slogan-gradient),
        var(--background-slogan-gradient)),
      url('../images/general_450.jpg');
  }
}

@media screen and (min-width: 768px) {
  .slogan {
    background-image: linear-gradient(to right,
        var(--background-slogan-gradient),
        var(--background-slogan-gradient)),
      url('../images/general_768.jpg');
  }
}

@media screen and (min-width: 1200px) {
  .slogan {
    padding: 200px 0;
    background-image: linear-gradient(to right,
        var(--background-slogan-gradient),
        var(--background-slogan-gradient)),
      url('../images/general_1400.jpg');
  }
}

/* !---------------Product General-------------------------- */

.product_titel {
  padding: 0;
  margin: 0 0 30px 0;
  font-weight: 900;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-general);
}

@media screen and (min-width: 1200px) {
  .product_titel {
    margin: 30px 0 20px 0;
  }
}

@media screen and (max-width: 1199px) {
  .product__section {
    display: none;
  }
}

.product {
  display: flex;
  margin: 0 0 0 -30px;
  padding: 0;
}

.product__item {
  flex-basis: calc(25% - 30px);
  margin-left: 30px;
}

.pruduct__photo {
  border-radius: 10px;
}

.label-thumb {
  position: relative;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 30px;
  background-color: var(--background-label);
  border-radius: 8px;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.label__text {
  color: var(--color-label);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

.marquee1 {
  animation: marquee1 8s linear infinite;
}

@keyframes marquee1 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.marquee2 {
  animation: marquee2 10s linear infinite;
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.marquee3 {
  animation: marquee3 9s linear infinite;
}

@keyframes marquee3 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.marquee4 {
  animation: marquee4 11s linear infinite;
}

@keyframes marquee4 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.marquee5 {
  animation: marquee5 15s linear infinite;
}

@keyframes marquee5 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.choice:hover,
.choice:focus {
  transform: scale(1.08);
  transition: transform 0.3s;
}

/* !---------------Footer-------------------------- */

.footer {
  padding: 50px 0;
  background-color: var(--background-slogan);
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 30px 0;
  }
}

.address {
  margin: 15px 0 0 0;
  color: var(--color-general);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .address {
    margin: 20px 0 0 0;
  }
}

.address .link {
  display: block;
  margin: 12px 0 0 0;
  color: var(--color-general);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color var(--transition-timing) var(--transition-duration);
}

@media screen and (min-width: 1200px) {
  .address .link {
    margin: 9px 0 0 0;
  }
}

.address .link:hover,
.address .link:focus {
  color: var(--color-footer-link);
}

@media screen and (min-width: 768px) {
  .social-contact {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .social-contact {
    display: flex;
    align-items: baseline;
  }
}

.footer-contact {
  display: block;
}

@media screen and (max-width: 1199px) {
  .footer-contact {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contact {
    margin-right: 94px;
  }
}

.compound {
  margin: 60px 0 0 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-general);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .compound {
    margin: 0;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .compound {
    margin: 0;
    text-align: center;
  }
}

.footer-social {
  display: flex;
  gap: 10px;
  margin: 20px 0 0 0;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .footer-social {
    justify-content: start;
  }
}

.a-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  border: none;
  width: 44px;
  height: 44px;
  margin: 0 auto;
  color: var(--color-general);
  background-color: var(--background-icon-footer);
  transition: background-color var(--transition-timing) var(--transition-duration),
    color var(--transition-timing) var(--transition-duration);
}


.icon-footer {
  width: 20px;
  height: 20px;
  fill: currentColor;
  align-items: center;
}

.a-footer:hover,
.a-footer:focus {
  background-color: var(--color-footer-link);
  color: var(--color-icon-footer);
}

/* !---------------Product Page-------------------------- */

.content {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  padding: 0;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .content__clik {
    flex-basis: calc((100% - 160px) / 1);
    border-radius: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .content__clik {
    flex-basis: calc((100% - 150px) / 2);
    border-radius: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .content__clik {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.content__clik:hover,
.content__clik:focus {
  border-radius: 8px;
  box-shadow: var(--color-product-shadow);
}

.flex-grow {
  display: flex;
  flex-direction: column;
}

.card-port {
  flex-grow: 1;
  border: 1px solid var(--color-border-product);
  border-radius: 8px;
  padding: 5px 18px;
}

.content .titel-port {
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-general);
}

.overlay-action {
  text-decoration: none;
}

.overlay-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.overlay-text {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--transition-timing) var(--transition-duration),
    transform var(--transition-timing) var(--transition-duration-product);
  background-color: var(--color-overlay-product);
  font-size: 16px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  padding: 0 10px;
  margin: 0;
  text-decoration: none;
  color: var(--color-label);
}

.overlay-action:hover .overlay-text,
.overlay-action:focus .overlay-text {
  opacity: 1;
  transform: translateY(0);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.price_button {
  border-radius: 8px;
  border: none;
  padding: 2px 50px;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--color-button);
  color: var(--color-general);
  box-shadow: var(--color-product-shadow);
  transition: background-color var(--transition-timing) var(--transition-duration);
}

.price_button:hover,
.price_button:focus {
  background-color: var(--color-button-link);
}

.product_button {
  border-radius: 8px;
  border: none;
  padding: 2px 150px;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--color-button);
  color: var(--color-general);
  box-shadow: var(--color-product-shadow);
  transition: background-color var(--transition-timing) var(--transition-duration);
}

.product_button:hover,
.product_button:focus {
  background-color: var(--color-button-link);
}

/* !---------------Product Detail-------------------------- */

.product_detail_1,
.product_detail_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #c8c8c8;
  border-radius: 8px;
  padding: 10px;
}

.product_detail_1:hover,
.product_detail_2:hover {
  cursor: pointer;
}

.product_detail_image {
  margin-right: 20px;
  max-width: 270px;
  max-height: 215px;
  border-radius: 8px;
}

.product_detail_info {
  flex: 2 1 750px;
  align-self: flex-start;
}

.product_detail_info h2 {
  margin-top: 0;
  color: var(--color-general);
}

.product_detail_info p {
  color: var(--color-footer-link);
}

.product_detail_info h2:hover {
  text-decoration: underline;
}

/* !---------------Modal Product-------------------------- */

.modal_product {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 95%;
  height: 100%;
  max-width: 550px;
  max-height: 630px;
  background-color: var(--background-slogan);
  border-radius: 8px;
  padding: 40px;
  margin: 0;
  z-index: 1000;
  transition: transform var(--transition-timing) var(--transition-duration);
}

@media screen and (max-width: 1200px) {
  .modal_product {
    max-width: 450px;
    max-height: 580px;
  }
}

.close-posicion {
  position: absolute;
  top: 8px;
  right: 8px;
}

.close-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  border: 1px solid var(--color-backdrop);
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: var(--color-general);
  background-color: var(--background-general);
  transition: color var(--transition-timing) var(--transition-duration);
}

.icon-modal {
  width: 20px;
  height: 20px;
  fill: currentColor;
  align-items: center;
}

.close-modal:hover,
.close-modal:focus {
  color: var(--color-nav-link);
}

/* !---------------Slider-------------------------- */

.slider-container {
  margin: 20px auto 0 auto;
  width: 400px;
  max-width: 100%;
  height: 500px;
}

.slider {
  width: 100%;
  height: 100%;
}

.slider img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.slider-arrow {
  position: absolute;
  top: 240px;
  width: 40px;
  height: 40px;
  background-color: var(--background-general);
  color: var(--color-general);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-backdrop);
  border-radius: 50%;
  cursor: pointer;
  transition: color var(--transition-timing) var(--transition-duration);
  z-index: 1;
}

.slider-arrow.prev {
  left: -30px;
}

.slider-arrow.next {
  right: -30px;
}

.slider-arrow:hover,
.slider-arrow:focus {
  color: var(--color-nav-link);
}

/* !---------------Modal Price-------------------------- */

.modal_price {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 95%;
  height: 100%;
  max-width: 820px;
  max-height: 680px;
  background-color: var(--background-slogan);
  border-radius: 8px;
  padding: 40px;
  margin: 0;
  z-index: 1000;
  transition: transform var(--transition-timing) var(--transition-duration);
}

@media screen and (max-width: 1200px) {
  .modal_price {
    max-width: 780px;
    max-height: 680px;
  }
}

/* !---------------Modal overlay-------------------------- */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-overlay-body);
  z-index: 1000;
  display: none;
}

.modal-open .modal-overlay {
  display: block;
}

/* !---------------Contact Page-------------------------- */

@media screen and (max-width: 767px) {
  .contact-page {
    margin-bottom: 10px;
  }

  .connection_titel-work {
    margin-top: 20px;
  }

  .connection_titel-map {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .connection_titel-contact {
    margin-bottom: 15px;
  }

  .connection_titel-work {
    margin-top: 170px;
    margin-bottom: 15px;
  }

  .connection_titel-map {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-page {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 10px;
  }

  .connection_titel-contact {
    margin-bottom: 15px;
  }

  .connection_titel-work {
    margin-top: 170px;
    margin-bottom: 15px;
  }

  .connection_titel-map {
    margin-bottom: 15px;
  }
}

.connection {
  margin: 0;
  color: var(--color-general);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  align-items: flex-end;
}

.connection .link {
  display: block;
  padding-left: 8px;
  color: var(--color-general);
  text-decoration: none;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  align-items: flex-end;
  transition: color var(--transition-timing) var(--transition-duration);
}

.connection .link:hover,
.connection .link:focus {
  color: var(--color-nav-link);
  border-color: var(--color-nav-link);
}

.connection-item {
  display: flex;
  align-items: center;

}

.schedule {
  padding-left: 8px;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  align-items: flex-start;
}

.map {
  width: 100%;
  max-width: 750px;
  height: auto;
  border: 2px solid var(--color-button);
  border-radius: 10px;
}