:root {
  --background-general: #ffffff;
  --background-slogan: #2f303a;
  --background-slogan-gradient: rgba(47, 48, 58, 0.4);
  --background-comand: #f5f4fa;
  --background-label: rgba(47, 48, 58, 0.8);
  --color-logo: #000000;
  --color-general: #212121;
  --color-border-header: #ececec;
  --color-last: #757575;
  --color-link: #2196f3;
  --color-slogan: #ffffff;
  --color-button: #f5f4fa;
  --color-button-activ: #188ce8;
  --color-label: #ffffff;
  --color-icon-footer: rgba(255, 255, 255, 0.1);
  --color-border-index: #f5f4fa;
  --color-border-portfolio: #eeeeee;
  --color-border-klient: #afb1b8;
  --color-overlay-portfolio: rgba(33, 150, 243, 0.9);
  --color-address-finish: rgba(255, 255, 255, 0.6);
  --color-shadow-order: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --color-comand-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --color-shadow-filter: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --color-backdrop: rgba(0, 0, 0, 0.2);
  --transition-duration: 250ms;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --color-border-form: rgba(33, 33, 33, 0.2);
  --color-form-placeholder: rgba(117, 117, 117, 0.5);
  --color-footer-placeholder: rgba(255, 255, 255, 0.6);
  --color-border-close: rgba(0, 0, 0, 0.1);
}





body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-general);
  color: var(--color-general);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.dot {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header {
  border-bottom: 1px solid var(--color-border-header);
}





.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: red;
  /* color: var(--color-link); */
}

@media screen and (min-width: 768px) {
  .logo__up {
    margin-right: 93px;
  }
}

.logo__up {
  padding: 0;
  color: orange;
  /* color: var(--color-link); */
}

.logo__down {
  color: orangered;
  /* color: var(--color-slogan); */
}
@media screen and (min-width: 1200px) {
  .logo__down {
    margin-right: -93px;
  }
}

.logo__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .nav,
  .contact {
    display: none;
  }
}

.nav__item + .nav__item {
  margin-left: 50px;
}

.nav__menu {
  margin: 48px 0 -16px 40px;
}

.envelope {
  width: 16px;
  height: 12px;
  margin: 0 10px 0 0;
  fill: currentColor;
}

.smartphone {
  width: 10px;
  height: 16px;
  margin: 0 10px 0 0;
  fill: currentColor;
}

.nav__link {
  text-align: start;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--transition-timing) var(--transition-duration);
  transition: color var(--transition-timing) var(--transition-duration);
  color: var(--color-general);
}
@media screen and (min-width: 768px) {
  .nav__link {
    padding: 32px 0;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.nav__link:hover,
.nav__link:focus {
  color: var(--color-link);
}

.nav__link--current {
  position: relative;
  color: var(--color-link);
}

@media screen and (min-width: 768px) {
  .nav__link--current::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-link);
  }
}





@media screen and (min-width: 1200px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact-posicion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact__icon.mailto {
  padding: 32px 0 0 0;
  margin-left: 40px;
  text-decoration: none;
  cursor: auto;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--color-general);
  -webkit-transition: color var(--transition-timing) var(--transition-duration);
  transition: color var(--transition-timing) var(--transition-duration);
}
@media screen and (min-width: 768px) {
  .contact__icon.mailto {
    padding: 21px 0 5px 0;
    font-size: 12px;
    line-height: 1.17;
    margin: 0;
    cursor: pointer;
  }
}
@media screen and (min-width: 1200px) {
  .contact__icon.mailto {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 768px) {
  .contact__icon.mailto:hover,
  .contact__icon.mailto:focus {
    color: var(--color-link);
  }
}

.contact__icon.tel {
  padding: 174px 0 0 0;
  margin-left: 40px;
  text-decoration: none;
  cursor: auto;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--color-link);
  -webkit-transition: color var(--transition-timing) var(--transition-duration);
  transition: color var(--transition-timing) var(--transition-duration);
}
@media screen and (min-width: 768px) {
  .contact__icon.tel {
    padding: 5px 0 21px 0;
    font-size: 12px;
    line-height: 1.17;
    margin: 0;
    cursor: pointer;
    color: var(--color-general);
  }
}
@media screen and (min-width: 1200px) {
  .contact__icon.tel {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
    margin-left: 40px;
  }
}

@media screen and (min-width: 768px) {
  .contact__icon.tel:hover,
  .contact__icon.tel:focus {
    color: var(--color-link);
  }
}

.contact__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}





.menu-toggle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-icon__menu {
  width: 40px;
  height: 40px;
  fill: currentColor;
  margin-left: auto;
  -webkit-transition: color var(--transition-timing) var(--transition-duration),
    border var(--transition-timing) var(--transition-duration);
  transition: color var(--transition-timing) var(--transition-duration),
    border var(--transition-timing) var(--transition-duration);
}

.menu-icon__menu:hover,
.menu-icon__menu:focus {
  color: var(--color-link);
}

.menu-icon__close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  fill: currentColor;
  margin-left: auto;
  -webkit-transition: color var(--transition-timing) var(--transition-duration),
    border var(--transition-timing) var(--transition-duration);
  transition: color var(--transition-timing) var(--transition-duration),
    border var(--transition-timing) var(--transition-duration);
}

.menu-icon__close:hover,
.menu-icon__close:focus {
  color: var(--color-link);
}

.icon-menu {
  width: 40px;
  height: 40px;
}

.menu-toggle__posicion {
  margin-left: auto;
  padding: 10px 0;
}
@media screen and (min-width: 768px) {
  .menu-toggle__posicion {
    display: none;
  }
}





.menu-container {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-general);
  z-index: 10;
  -webkit-transition: -webkit-transform var(--transition-timing) var(--transition-duration);
  transition: -webkit-transform var(--transition-timing) var(--transition-duration);
  transition: transform var(--transition-timing) var(--transition-duration);
  transition: transform var(--transition-timing) var(--transition-duration),
    -webkit-transform var(--transition-timing) var(--transition-duration);
}
.menu-container.is-open {
  display: block;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.menu__network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 30px;
  margin-right: 40px;
  padding: 64px 0 48px 0;
}

.menu__social {
  padding: 0 10px 0px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--color-link);
}

.menu__span {
  padding: 10px;
  width: 22px;
  height: 0px;
  border: 1px solid var(--color-border-form);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.section1 {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section1 {
    padding: 30px 0;
  }
}

.section2 {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section2 {
    padding: 60px 0;
  }
}
.unsection {
  padding-top: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}





.slogan {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-color: var(--background-slogan);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 118px 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .slogan {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(var(--background-slogan-gradient)),
        to(var(--background-slogan-gradient))
      ),
      url('../images/header450.jpg');
    background-image: linear-gradient(
        to right,
        var(--background-slogan-gradient),
        var(--background-slogan-gradient)
      ),
      url('../images/header450.jpg');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .slogan {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(var(--background-slogan-gradient)),
        to(var(--background-slogan-gradient))
      ),
      url('../images/header450-2x.jpg');
    background-image: linear-gradient(
        to right,
        var(--background-slogan-gradient),
        var(--background-slogan-gradient)
      ),
      url('../images/header450-2x.jpg');
  }
}
@media screen and (min-width: 768px) {
  .slogan {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(var(--background-slogan-gradient)),
        to(var(--background-slogan-gradient))
      ),
      url('../images/header768.jpg');
    background-image: linear-gradient(
        to right,
        var(--background-slogan-gradient),
        var(--background-slogan-gradient)
      ),
      url('../images/header768.jpg');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .slogan {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(var(--background-slogan-gradient)),
        to(var(--background-slogan-gradient))
      ),
      url('../images/header768-2x.jpg');
    background-image: linear-gradient(
        to right,
        var(--background-slogan-gradient),
        var(--background-slogan-gradient)
      ),
      url('../images/header768-2x.jpg');
  }
}
@media screen and (min-width: 1200px) {
  .slogan {
    padding: 200px 0 200px 0;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(var(--background-slogan-gradient)),
        to(var(--background-slogan-gradient))
      ),
      url('../images/header1600.jpg');
    background-image: linear-gradient(
        to right,
        var(--background-slogan-gradient),
        var(--background-slogan-gradient)
      ),
      url('../images/header1600.jpg');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution: 192dpi) and (min-width: 1200px),
  (min-resolution: 2dppx) and (min-width: 1200px) {
  .slogan {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(var(--background-slogan-gradient)),
        to(var(--background-slogan-gradient))
      ),
      url('../images/header1600-2x.jpg');
    background-image: linear-gradient(
        to right,
        var(--background-slogan-gradient),
        var(--background-slogan-gradient)
      ),
      url('../images/header1600-2x.jpg');
  }
}

.slogan__titel {
  margin: 0 0 30px 0;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-slogan);
}
@media screen and (min-width: 1200px) {
  .slogan__titel {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}





.titels {
  padding: 0;
  margin: 0 0 30px 0;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-general);
}
@media screen and (min-width: 1200px) {
  .titels {
    margin: 50px 0 30px 0;
  }
}

@media screen and (max-width: 1199px) {
  .work__section {
    display: none;
  }
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 -30px;
  padding: 0;
}

.work__item {
  -ms-flex-preferred-size: calc(25% - 30px);
  flex-basis: calc(25% - 30px);
  margin-left: 30px;
}

.label-thumb {
  position: relative;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 270px;
  height: 30px;
  background-color: var(--background-label);
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.label__text {
  color: var(--color-label);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

.marquee1 {
  animation: marquee1 8s linear infinite;
}
@keyframes marquee1 {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.marquee2 {
  animation: marquee2 10s linear infinite;
}
@keyframes marquee2 {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.marquee3 {
  animation: marquee3 9s linear infinite;
}
@keyframes marquee3 {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.marquee4 {
  animation: marquee4 11s linear infinite;
}
@keyframes marquee4 {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.marquee5 {
  animation: marquee5 15s linear infinite;
}
@keyframes marquee5 {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.choice:hover,
.choice:focus {
  transform: scale(1.05) rotate(1deg);
  transition: transform 0.3s;
}

.fotoline {
  max-width: 270px;
  height: 215px;
}





.footer {
  padding: 50px 0;
  background-color: var(--background-slogan);
}
@media screen and (min-width: 1200px) {
  .footer {
    padding: 30px 0;
  }
}

.address {
  margin: 28px 0 0 0;
  color: var(--color-slogan);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .address {
    margin: 20px 0 0 0;
  }
}

.address .link {
  display: block;
  margin: 12px 0 0 0;
  color: var(--color-slogan);
  color: var(--color-address-finish);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition: color var(--transition-timing) var(--transition-duration);
  transition: color var(--transition-timing) var(--transition-duration);
}
@media screen and (min-width: 1200px) {
  .address .link {
    margin: 9px 0 0 0;
  }
}

.address .link:hover,
.address .link:focus {
  /* color: var(--color-link) */
  color: orangered;
}

@media screen and (min-width: 768px) {
  .social-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .social-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}

.footer-contact {
  display: block;
}
@media screen and (max-width: 1199px) {
  .footer-contact {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contact {
    margin-right: 94px;
  }
}

.compound {
  margin: 60px 0 0 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--background-general);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .compound {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .compound {
    margin: 0;
    text-align: start;
  }
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin: 20px 0 0 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer-social {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
}

.a-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  border: none;
  width: 44px;
  height: 44px;
  padding: 0;
  margin: 0 auto;
  color: var(--color-slogan);
  background-color: var(--color-icon-footer);
  -webkit-transition: background-color var(--transition-timing) var(--transition-duration),
    color var(--transition-timing) var(--transition-duration);
  transition: background-color var(--transition-timing) var(--transition-duration),
    color var(--transition-timing) var(--transition-duration);
}

.icon-footer {
  width: 20px;
  height: 20px;
  fill: currentColor;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.a-footer:hover,
.a-footer:focus {
  /* background-color: var(--color-button-activ); */
    background-color: orangered;
  color: var(--color-slogan);
}





.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .content__clik {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
    flex-basis: calc((100% - 30px) / 2);
  }
}

.content__clik:hover,
.content__clik:focus {
  -webkit-box-shadow: var(--color-comand-shadow);
  box-shadow: var(--color-comand-shadow);
}

.flex-grow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-port {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border: 1px solid var(--color-border-portfolio);
  padding: 20px 24px;
}

.content .titel-port {
  margin: 0;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-general);
}

.content .text-port {
  margin: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-last);
}

.overlay-action {
  text-decoration: none;
}

.overlay-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--transition-timing) var(--transition-duration);
  transition: -webkit-transform var(--transition-timing) var(--transition-duration);
  transition: transform var(--transition-timing) var(--transition-duration);
  transition: transform var(--transition-timing) var(--transition-duration),
    -webkit-transform var(--transition-timing) var(--transition-duration);
  background-color: var(--color-overlay-portfolio);
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  margin: 0;
  text-decoration: none;
  color: var(--color-label);
}

.overlay-action:hover .overlay-text,
.overlay-action:focus .overlay-text {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  overflow-y: scroll;
  background-color: var(--color-backdrop);
  -webkit-transition: opacity var(--transition-timing) var(--transition-duration),
    visibility var(--transition-timing) var(--transition-duration);
  transition: opacity var(--transition-timing) var(--transition-duration),
    visibility var(--transition-timing) var(--transition-duration);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}