:root {
  --background-general: #ffffff;
  --background-slogan: #2f303a;
  --background-slogan-gradient: rgba(47, 48, 58, 0.4);
  --background-comand: #f5f4fa;
  --background-label: rgba(47, 48, 58, 0.8);
  --color-logo: #000000;
  --color-general: #212121;
  --color-border-header: #ececec;
  --color-last: #757575;
  --color-link: #2196f3;
  --color-slogan: #ffffff;
  --color-button: #f5f4fa;
  --color-button-activ: #188ce8;
  --color-label: #ffffff;
  --color-icon-footer: rgba(255, 255, 255, 0.1);
  --color-border-index: #f5f4fa;
  --color-border-portfolio: #eeeeee;
  --color-border-klient: #afb1b8;
  --color-overlay-portfolio: rgba(33, 150, 243, 0.9);
  --color-address-finish: rgba(255, 255, 255, 0.6);
  --color-shadow-order: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --color-comand-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --color-shadow-filter: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --color-backdrop: rgba(0, 0, 0, 0.2);
  --transition-duration: 250ms;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --color-border-form: rgba(33, 33, 33, 0.2);
  --color-form-placeholder: rgba(117, 117, 117, 0.5);
  --color-footer-placeholder: rgba(255, 255, 255, 0.6);
  --color-border-close: rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-general);
  color: var(--color-general);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.dot {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header {
  border-bottom: 1px solid var(--color-border-header);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: red;
  /* color: var(--color-link); */
}

@media screen and (min-width: 768px) {
  .logo__up {
    margin-right: 93px;
  }
}

.logo__up {
  padding: 0;
  color: orange;
  /* color: var(--color-link); */
}

.logo__down {
  color: orangered;
  /* color: var(--color-slogan); */
}
@media screen and (min-width: 1200px) {
  .logo__down {
    margin-right: -93px;
  }
}

.logo__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .nav,
  .contact {
    display: none;
  }
}

.nav__item + .nav__item {
  margin-left: 50px;
}

.nav__menu {
  margin: 48px 0 -16px 40px;
}

.envelope {
  width: 16px;
  height: 12px;
  margin: 0 10px 0 0;
  fill: currentColor;
}

.smartphone {
  width: 10px;
  height: 16px;
  margin: 0 10px 0 0;
  fill: currentColor;
}

.nav__link {
  text-align: start;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--transition-timing) var(--transition-duration);
  transition: color var(--transition-timing) var(--transition-duration);
  color: var(--color-general);
}
@media screen and (min-width: 768px) {
  .nav__link {
    padding: 32px 0;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.nav__link:hover,
.nav__link:focus {
  color: var(--color-link);
}

.nav__link--current {
  position: relative;
  color: var(--color-link);
}

@media screen and (min-width: 768px) {
  .nav__link--current::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-link);
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact-posicion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact__icon.mailto {
  padding: 32px 0 0 0;
  margin-left: 40px;
  text-decoration: none;
  cursor: auto;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--color-general);
  -webkit-transition: color var(--transition-timing) var(--transition-duration);
  transition: color var(--transition-timing) var(--transition-duration);
}
@media screen and (min-width: 768px) {
  .contact__icon.mailto {
    padding: 21px 0 5px 0;
    font-size: 12px;
    line-height: 1.17;
    margin: 0;
    cursor: pointer;
  }
}
@media screen and (min-width: 1200px) {
  .contact__icon.mailto {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 768px) {
  .contact__icon.mailto:hover,
  .contact__icon.mailto:focus {
    color: var(--color-link);
  }
}

.contact__icon.tel {
  padding: 174px 0 0 0;
  margin-left: 40px;
  text-decoration: none;
  cursor: auto;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--color-link);
  -webkit-transition: color var(--transition-timing) var(--transition-duration);
  transition: color var(--transition-timing) var(--transition-duration);
}
@media screen and (min-width: 768px) {
  .contact__icon.tel {
    padding: 5px 0 21px 0;
    font-size: 12px;
    line-height: 1.17;
    margin: 0;
    cursor: pointer;
    color: var(--color-general);
  }
}
@media screen and (min-width: 1200px) {
  .contact__icon.tel {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
    margin-left: 40px;
  }
}

@media screen and (min-width: 768px) {
  .contact__icon.tel:hover,
  .contact__icon.tel:focus {
    color: var(--color-link);
  }
}

.contact__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-toggle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-icon__menu {
  width: 40px;
  height: 40px;
  fill: currentColor;
  margin-left: auto;
  -webkit-transition: color var(--transition-timing) var(--transition-duration),
    border var(--transition-timing) var(--transition-duration);
  transition: color var(--transition-timing) var(--transition-duration),
    border var(--transition-timing) var(--transition-duration);
}

.menu-icon__menu:hover,
.menu-icon__menu:focus {
  color: var(--color-link);
}

.menu-icon__close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  fill: currentColor;
  margin-left: auto;
  -webkit-transition: color var(--transition-timing) var(--transition-duration),
    border var(--transition-timing) var(--transition-duration);
  transition: color var(--transition-timing) var(--transition-duration),
    border var(--transition-timing) var(--transition-duration);
}

.menu-icon__close:hover,
.menu-icon__close:focus {
  color: var(--color-link);
}

.icon-menu {
  width: 40px;
  height: 40px;
}

.menu-toggle__posicion {
  margin-left: auto;
  padding: 10px 0;
}
@media screen and (min-width: 768px) {
  .menu-toggle__posicion {
    display: none;
  }
}

.menu-container {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-general);
  z-index: 10;
  -webkit-transition: -webkit-transform var(--transition-timing) var(--transition-duration);
  transition: -webkit-transform var(--transition-timing) var(--transition-duration);
  transition: transform var(--transition-timing) var(--transition-duration);
  transition: transform var(--transition-timing) var(--transition-duration),
    -webkit-transform var(--transition-timing) var(--transition-duration);
}
.menu-container.is-open {
  display: block;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.menu__network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 30px;
  margin-right: 40px;
  padding: 64px 0 48px 0;
}

.menu__social {
  padding: 0 10px 0px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--color-link);
}

.menu__span {
  padding: 10px;
  width: 22px;
  height: 0px;
  border: 1px solid var(--color-border-form);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.unsection {
  padding-top: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.slogan {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-color: var(--background-slogan);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 118px 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .slogan {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(var(--background-slogan-gradient)),
        to(var(--background-slogan-gradient))
      ),
      url('../images/header450.jpg');
    background-image: linear-gradient(
        to right,
        var(--background-slogan-gradient),
        var(--background-slogan-gradient)
      ),
      url('../images/header450.jpg');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .slogan {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(var(--background-slogan-gradient)),
        to(var(--background-slogan-gradient))
      ),
      url('../images/header450-2x.jpg');
    background-image: linear-gradient(
        to right,
        var(--background-slogan-gradient),
        var(--background-slogan-gradient)
      ),
      url('../images/header450-2x.jpg');
  }
}
@media screen and (min-width: 768px) {
  .slogan {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(var(--background-slogan-gradient)),
        to(var(--background-slogan-gradient))
      ),
      url('../images/header768.jpg');
    background-image: linear-gradient(
        to right,
        var(--background-slogan-gradient),
        var(--background-slogan-gradient)
      ),
      url('../images/header768.jpg');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .slogan {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(var(--background-slogan-gradient)),
        to(var(--background-slogan-gradient))
      ),
      url('../images/header768-2x.jpg');
    background-image: linear-gradient(
        to right,
        var(--background-slogan-gradient),
        var(--background-slogan-gradient)
      ),
      url('../images/header768-2x.jpg');
  }
}
@media screen and (min-width: 1200px) {
  .slogan {
    padding: 200px 0 200px 0;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(var(--background-slogan-gradient)),
        to(var(--background-slogan-gradient))
      ),
      url('../images/header1600.jpg');
    background-image: linear-gradient(
        to right,
        var(--background-slogan-gradient),
        var(--background-slogan-gradient)
      ),
      url('../images/header1600.jpg');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution: 192dpi) and (min-width: 1200px),
  (min-resolution: 2dppx) and (min-width: 1200px) {
  .slogan {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(var(--background-slogan-gradient)),
        to(var(--background-slogan-gradient))
      ),
      url('../images/header1600-2x.jpg');
    background-image: linear-gradient(
        to right,
        var(--background-slogan-gradient),
        var(--background-slogan-gradient)
      ),
      url('../images/header1600-2x.jpg');
  }
}

.slogan__titel {
  margin: 0 0 30px 0;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-slogan);
}
@media screen and (min-width: 1200px) {
  .slogan__titel {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

/* .slogan__button {
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--color-link);
  color: var(--color-slogan);
  -webkit-box-shadow: var(--color-shadow-order);
  box-shadow: var(--color-shadow-order);
  -webkit-transition: background-color var(--transition-timing) var(--transition-duration);
  transition: background-color var(--transition-timing) var(--transition-duration);
}

.slogan__button:hover,
.slogan__button:focus {
  background-color: var(--color-button-activ);
} */

/* .button-filter {
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--color-button);
  color: var(--color-general);
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: background-color var(--transition-timing) var(--transition-duration),
    color var(--transition-timing) var(--transition-duration),
    -webkit-box-shadow var(--transition-timing) var(--transition-duration);
  transition: background-color var(--transition-timing) var(--transition-duration),
    color var(--transition-timing) var(--transition-duration),
    -webkit-box-shadow var(--transition-timing) var(--transition-duration);
  transition: background-color var(--transition-timing) var(--transition-duration),
    color var(--transition-timing) var(--transition-duration),
    box-shadow var(--transition-timing) var(--transition-duration);
  transition: background-color var(--transition-timing) var(--transition-duration),
    color var(--transition-timing) var(--transition-duration),
    box-shadow var(--transition-timing) var(--transition-duration),
    -webkit-box-shadow var(--transition-timing) var(--transition-duration);
} */

/* .button-filter:hover,
.button-filter:focus {
  background-color: var(--color-link);
  color: var(--color-slogan);
  -webkit-box-shadow: var(--color-shadow-filter);
  box-shadow: var(--color-shadow-filter);
} */

/* .button-filter.one {
  padding: 6px 25px;
}

.button-filter.all {
  padding: 6px 22px;
} */

/* .button-form {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 52px;
  cursor: pointer;
  border: none;
  background-color: var(--color-link);
  color: var(--color-label);
  -webkit-box-shadow: var(--color-shadow-order);
  box-shadow: var(--color-shadow-order);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-transition: background-color var(--transition-timing) var(--transition-duration);
  transition: background-color var(--transition-timing) var(--transition-duration);
}

.button-form:hover,
.button-form:focus {
  background-color: var(--color-button-activ);
} */

/* .button-form-posicion {
  text-align: center;
} */

/* @media screen and (min-width: 768px) {
  .specifical {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 0 -30px;
  }
}
@media screen and (min-width: 1200px) {
  .specifical {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

.specifical__line {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .specifical__line {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .specifical__line {
    -ms-flex-preferred-size: calc(25% - 30px);
    flex-basis: calc(25% - 30px);
  }
}

.specifical__icon {
  text-align: center;
  margin-bottom: 30px;
  background-color: var(--background-comand);
  border-radius: 4px;
  width: 100%;
}

.specifical__titel {
  text-align: start;
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-general);
}

.specifical__text {
  text-align: start;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-last);
} */

.titels {
  padding: 0;
  margin: 0 0 30px 0;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-general);
}
@media screen and (min-width: 1200px) {
  .titels {
    margin: 50px 0 30px 0;
  }
}

@media screen and (max-width: 1199px) {
  .work__section {
    display: none;
  }
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 -30px;
  padding: 0;
}

.work__item {
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
  flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
}

.label-thumb {
  position: relative;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 270px;
  height: 30px;
  background-color: var(--background-label);
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.label__text {
  color: var(--color-label);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.comand {
  padding: 0;
}
@media screen and (min-width: 768px) {
  .comand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .comand {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .comand {
    margin: 0 0 0 -30px;
  }
}

.background-comand {
  background-color: var(--background-comand);
}

.comand .foto {
  -webkit-box-shadow: var(--color-comand-shadow);
  box-shadow: var(--color-comand-shadow);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-general);
}
@media screen and (max-width: 768px) {
  .comand .foto {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .comand .foto {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .comand .foto {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
  }
}

.comand .fotoline {
  margin-bottom: 30px;
}

.comand .name {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-general);
}

.comand .proff {
  margin: 0 0 16px 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-last);
}

.social-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
  padding: 0 0 24px 0;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .social-card {
    padding: 0 0 30px 0;
  }
}

.a-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  border: none;
  width: 44px;
  height: 44px;
  padding: 0;
  margin: 0 auto;
  color: var(--color-border-klient);
  -webkit-transition: background-color var(--transition-timing) var(--transition-duration),
    color var(--transition-timing) var(--transition-duration);
  transition: background-color var(--transition-timing) var(--transition-duration),
    color var(--transition-timing) var(--transition-duration);
}

.icon-card {
  width: 20px;
  height: 20px;
  fill: currentColor;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.a-card:hover,
.a-card:focus {
  background-color: var(--color-button-activ);
  color: var(--color-slogan);
}

@media screen and (max-width: 1199px) {
  .client {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
@media screen and (min-width: 1200px) {
  .client {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.client__posicion {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .client__posicion {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__posicion {
    width: calc((100% - 150px) / 6);
  }
}

.client__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 92px;
  border: 1px solid var(--color-border-klient);
  border-radius: 4px;
  color: var(--color-border-klient);
  -webkit-transition: color var(--transition-timing) var(--transition-duration),
    border var(--transition-timing) var(--transition-duration);
  transition: color var(--transition-timing) var(--transition-duration),
    border var(--transition-timing) var(--transition-duration);
}

.icon-client {
  fill: currentColor;
}

.client__icon:hover,
.client__icon:focus {
  color: var(--color-link);
  border: 1px solid var(--color-link);
}

.footer {
  padding: 60px 0;
  background-color: var(--background-slogan);
}
@media screen and (min-width: 1200px) {
  .footer {
    padding: 64px 0;
  }
}

.address {
  margin: 28px 0 0 0;
  color: var(--color-slogan);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .address {
    margin: 20px 0 0 0;
  }
}

.address .link {
  display: block;
  margin: 12px 0 0 0;
  color: var(--color-slogan);
  color: var(--color-address-finish);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition: color var(--transition-timing) var(--transition-duration);
  transition: color var(--transition-timing) var(--transition-duration);
}
@media screen and (min-width: 1200px) {
  .address .link {
    margin: 9px 0 0 0;
  }
}

.address .link:hover,
.address .link:focus {
  color: var(--color-link);
}

@media screen and (min-width: 768px) {
  .social-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .social-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}

.footer-contact {
  display: block;
}
@media screen and (max-width: 1199px) {
  .footer-contact {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contact {
    margin-right: 94px;
  }
}

.compound {
  margin: 60px 0 0 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--background-general);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .compound {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .compound {
    margin: 0;
    text-align: start;
  }
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin: 20px 0 0 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer-social {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
}

.a-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  border: none;
  width: 44px;
  height: 44px;
  padding: 0;
  margin: 0 auto;
  color: var(--color-slogan);
  background-color: var(--color-icon-footer);
  -webkit-transition: background-color var(--transition-timing) var(--transition-duration),
    color var(--transition-timing) var(--transition-duration);
  transition: background-color var(--transition-timing) var(--transition-duration),
    color var(--transition-timing) var(--transition-duration);
}

.icon-footer {
  width: 20px;
  height: 20px;
  fill: currentColor;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.a-footer:hover,
.a-footer:focus {
  background-color: var(--color-button-activ);
  color: var(--color-slogan);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter .item + .item {
  margin-left: 8px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .content__clik {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
    flex-basis: calc((100% - 30px) / 2);
  }
}

.content__clik:hover,
.content__clik:focus {
  -webkit-box-shadow: var(--color-comand-shadow);
  box-shadow: var(--color-comand-shadow);
}

.flex-grow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-port {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border: 1px solid var(--color-border-portfolio);
  padding: 20px 24px;
}

.content .titel-port {
  margin: 0;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-general);
}

.content .text-port {
  margin: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-last);
}

.overlay-action {
  text-decoration: none;
}

.overlay-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--transition-timing) var(--transition-duration);
  transition: -webkit-transform var(--transition-timing) var(--transition-duration);
  transition: transform var(--transition-timing) var(--transition-duration);
  transition: transform var(--transition-timing) var(--transition-duration),
    -webkit-transform var(--transition-timing) var(--transition-duration);
  background-color: var(--color-overlay-portfolio);
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  margin: 0;
  text-decoration: none;
  color: var(--color-label);
}

.overlay-action:hover .overlay-text,
.overlay-action:focus .overlay-text {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  overflow-y: scroll;
  background-color: var(--color-backdrop);
  -webkit-transition: opacity var(--transition-timing) var(--transition-duration),
    visibility var(--transition-timing) var(--transition-duration);
  transition: opacity var(--transition-timing) var(--transition-duration),
    visibility var(--transition-timing) var(--transition-duration);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  width: 95%;
  max-width: 528px;
  height: 100%;
  max-height: 581px;
  background-color: var(--background-general);
  -webkit-box-shadow: var(--color-comand-shadow);
  box-shadow: var(--color-comand-shadow);
  border-radius: 4px;
  padding: 40px;
  margin: 0;
  -webkit-transition: -webkit-transform var(--transition-timing) var(--transition-duration);
  transition: -webkit-transform var(--transition-timing) var(--transition-duration);
  transition: transform var(--transition-timing) var(--transition-duration);
  transition: transform var(--transition-timing) var(--transition-duration),
    -webkit-transform var(--transition-timing) var(--transition-duration);
}
@media screen and (max-width: 1200px) {
  .modal {
    max-width: 450px;
    max-height: 609px;
  }
}

.backdrop.is-hidden .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
}

.close-posicion {
  position: absolute;
  top: 8px;
  right: 8px;
}

.close-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  border: 1px solid var(--color-border-close);
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: var(--color-logo);
  background-color: var(--background-general);
  -webkit-transition: color var(--transition-timing) var(--transition-duration);
  transition: color var(--transition-timing) var(--transition-duration);
}

.icon-modal {
  width: 18px;
  height: 18px;
  fill: currentColor;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.close-modal:hover,
.close-modal:focus {
  color: var(--color-link);
}

.mailing-posicion {
  display: block;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .mailing-posicion {
    display: inline-flexbox;
    margin-left: auto;
  }
}

.mailing-form {
  margin: 20px 0 0 0;
}
@media screen and (min-width: 1200px) {
  .mailing-form {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.mailing-titel {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-label);
  margin: 60px 0 0 0;
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .mailing-titel {
    margin: 0;
    text-align: start;
  }
}

.mailing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .mailing {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .mailing {
    margin-right: 12px;
    width: 358px;
  }
}

.mailing input {
  padding: 15px 0 15px 16px;
  background-color: var(--background-slogan);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: var(--color-slogan);
}

.mailing input::-webkit-input-placeholder {
  color: var(--color-footer-placeholder);
}

.mailing input::-moz-placeholder {
  color: var(--color-footer-placeholder);
}

.mailing input:-ms-input-placeholder {
  color: var(--color-footer-placeholder);
}

.mailing input::-ms-input-placeholder {
  color: var(--color-footer-placeholder);
}

.mailing input::placeholder {
  color: var(--color-footer-placeholder);
}

.button-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 28px;
  cursor: pointer;
  border: none;
  background-color: var(--color-link);
  color: var(--color-label);
  -webkit-box-shadow: var(--color-shadow-order);
  box-shadow: var(--color-shadow-order);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.icon-send {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.button-send.posicion {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .button-send.posicion {
    margin-top: 0;
  }
}

.form {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-last);
}

.form-name {
  margin: 0 0 12px 0;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--color-general);
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-input {
  margin-top: 4px;
  padding: 9px 0 9px 42px;
  border: 1px solid var(--color-border-form);
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  -webkit-transition: border var(--transition-timing) var(--transition-duration);
  transition: border var(--transition-timing) var(--transition-duration);
}

.field-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: var(--color-general);
  -webkit-transition: background-color var(--transition-timing) var(--transition-duration);
  transition: background-color var(--transition-timing) var(--transition-duration);
}

.form-field:focus-within > .field-icon {
  fill: var(--color-link);
}

.form-field:focus-within > .form-input {
  border: 1px solid var(--color-link);
}

.textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid var(--color-border-form);
  border-radius: 4px;
  outline: none;
  width: 100%;
  height: 120px;
  resize: none;
}

.textarea::-webkit-input-placeholder {
  color: var(--color-form-placeholder);
}

.textarea::-moz-placeholder {
  color: var(--color-form-placeholder);
}

.textarea:-ms-input-placeholder {
  color: var(--color-form-placeholder);
}

.textarea::-ms-input-placeholder {
  color: var(--color-form-placeholder);
}

.textarea::placeholder {
  color: var(--color-form-placeholder);
}

.textarea:not(:-moz-placeholder-shown) {
  border: 1px solid var(--color-link);
}

.textarea:not(:-ms-input-placeholder) {
  border: 1px solid var(--color-link);
}

.textarea:not(:placeholder-shown),
.textarea:focus {
  border: 1px solid var(--color-link);
}

.contrakt {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.contrakt-icon {
  width: 16px;
  height: 15px;
  border: 2px solid var(--color-general);
  border-radius: 2px;
  margin-right: 7px;
  margin-left: 10px;
}

.checkbox:checked + .contrakt-icon {
  background-color: var(--color-link);
  border: 2px solid var(--color-link);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.contrakt-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-last);
}
@media screen and (max-width: 1200px) {
  .contrakt-text {
    font-size: 12px;
  }
}

.contrakt-rules {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-link);
}
@media screen and (max-width: 1200px) {
  .contrakt-rules {
    font-size: 12px;
  }
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} /*# sourceMappingURL=main.css.map */
