
// slogan__button
.slogan__button {
  border-radius: 4px;
  border: none;
  padding: 10px 32px;

  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;

  background-color: var(--color-link);
  color: var(--color-slogan);
  box-shadow: var(--color-shadow-order);

  transition: background-color var(--transition-timing) var(--transition-duration);
}
.slogan__button:hover,
.slogan__button:focus {
  background-color: var(--color-button-activ);
}

// button-filter
.button-filter {
  border-radius: 4px;
  border: none;

  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  background-color: var(--color-button);
  color: var(--color-general);
  box-shadow: none;

  transition: background-color var(--transition-timing) var(--transition-duration),
    color var(--transition-timing) var(--transition-duration),
    box-shadow var(--transition-timing) var(--transition-duration);
}
.button-filter:hover,
.button-filter:focus {
  background-color: var(--color-link);
  color: var(--color-slogan);
  box-shadow: var(--color-shadow-filter);
}
.button-filter.one {
  padding: 6px 25px;
}
.button-filter.all {
  padding: 6px 22px;
}

// button-form
.button-form {
  align-items: center;
  justify-content: center;
  padding: 10px 52px;
  cursor: pointer;
  border: none;

  background-color: var(--color-link);
  color: var(--color-label);  
  box-shadow: var(--color-shadow-order);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  transition: background-color var(--transition-timing) var(--transition-duration);
}
.button-form:hover,
.button-form:focus {
  background-color: var(--color-button-activ);
}
.button-form-posicion {
  text-align: center;
}
