.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--color-link);
}
  .logo__up {
  @media screen and (min-width: 768px) {
    margin-right: 93px;
  }
}
.logo__up {
  padding: 0;
  color: var(--color-logo);
}
.logo__down {
  color: var(--color-slogan);
  @media screen and (min-width: 1200px) {
    margin-right: -93px;
  }
}
.logo__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}