.slogan {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-color: var(--background-slogan);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 118px 0;
  text-align: center;

@media screen and (max-width: 767px) {
  background-image: linear-gradient(to right,
      var(--background-slogan-gradient),
      var(--background-slogan-gradient)),
      url("../images/header450.jpg");
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  background-image: linear-gradient(to right,
      var(--background-slogan-gradient),
      var(--background-slogan-gradient)),
      url("../images/header450-2x.jpg");
  }

@media screen and (min-width: 768px) {
  background-image: linear-gradient(to right,
      var(--background-slogan-gradient),
      var(--background-slogan-gradient)),
      url("../images/header768.jpg");
}
  
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  background-image: linear-gradient(to right,
      var(--background-slogan-gradient),
      var(--background-slogan-gradient)),
      url("../images/header768-2x.jpg");
}

@media screen and (min-width: 1200px) {
  padding: 200px 0 200px 0;
  background-image: linear-gradient(to right,
      var(--background-slogan-gradient),
      var(--background-slogan-gradient)),
      url("../images/header1600.jpg");
}
  
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution: 192dpi) and (min-width: 1200px),
  (min-resolution: 2dppx) and (min-width: 1200px) {
  background-image: linear-gradient(to right,
      var(--background-slogan-gradient),
      var(--background-slogan-gradient)),
      url("../images/header1600-2x.jpg");
}
}
.slogan__titel {
  margin: 0 0 30px 0;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--color-slogan);
@media screen and (min-width: 1200px) {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}  
}