.filter {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
}
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
}
}
.filter .item + .item {
  margin-left: 8px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 30px; 
}
.content__clik {
   @media screen and (min-width: 768px) and (max-width: 1199px) {
      flex-basis: calc((100% - 30px) / 2);
}
}
.content__clik:hover,
.content__clik:focus {
  box-shadow: var(--color-comand-shadow);
}
.card-port {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 1px solid var(--color-border-portfolio);
  padding: 20px 24px;
}
.content .titel-port {
  margin: 0;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--color-general);
}
.content .text-port {
  margin: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--color-last);
}