.work__section {
  @media screen and (max-width: 1199px) {
        display: none;
    }
}
.work {
  display: flex;
  margin: 0 0 0 -30px;
  padding: 0;
}
.work__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}
.label-thumb {
  position: relative;
}
.label {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 370px;
  height: 70px;
  background-color: var(--background-label);
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
}
.label__text {
  color: var(--color-label);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}